<div class="main-header">
    <div class="row">
        <div class="col-md-12" style="display: flex; justify-content: space-between">
            <div class="logo-element">
                <nav class="navbar d-flex title main-header-nav">
                    <a href="#"><img alt="Logo" src="media/img/Logo_header.png"></a>
                </nav>
            </div>
            <div class="account-element">
                <span><a href="#" onclick="showUserModal(event)">User</a></span>
                <span><a href="#" onclick="showUserModal(event)"><img alt="User Icon" src="media/img/icon.png"
                            style="width: 35px"></a></span>
            </div>
        </div>
    </div>
</div>