<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Editor</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Option 1: Include in HTML -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/codemirror.min.css">
    <link rel="stylesheet" href="js/style.css">
</head>
<body>
   <!-- As a link -->
<nav class="navbar d-flex title">    
      <img src="img/Logo_header.png" style="max-width: 200px"; />    
</nav>
    <div class="container body-content container-fluid">
        <div class="row">
           

            <!-- Main Content -->
            <div >
                <!-- Tab Navigation -->
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#formsList">.:Forms List:.</a></li>
                    <li><a data-toggle="tab" href="#editForm">.:Edit Form:.</a></li>
                    <li><a data-toggle="tab" href="#DatabaseForm">.:Database Form:.</a></li>
                    <li><a data-toggle="tab" href="#renderForm">.:Render Form:.</a></li>
                </ul>
                
                <!-- Tab Content -->
                <div class="tab-content">
                    <div id="formsList" class="tab-pane fade in active" style="min-height: 500px;">                      
                         
                            <h1>Forms List</h1>
                            
                                <ul id="formsList" class="form-list"></ul>

                                <script src="js/listForms.js"></script>
                           
                        </div>

                    <div id="editForm" class="tab-pane fade">
                            <div class="container">
                                <div class="row">
                                    <h2>Form Editor</h2>
                                    <div id="formProperties" class="col" >
                                        <!-- Form properties will be added here -->
                                        <form id="formDataForm" class="container-fluid">
                                            <div class="row table-bordered table-hover table-condensed" style="align-content: center; text-align: center;vertical-align: middle;">

                                            <div class="col" style="display: inline-block;">
                                                <label for="formId">Form ID:</label><br>
                                                <input type="text" id="formId" name="formId" placeholder="Form ID" value="" required><br>
                                            </div>
                                            
                                            <div class="col" style="display: inline-block;">
                                                <label for="formName">Form Name:</label><br>
                                                <input type="text" id="formName" name="formName" placeholder="Form Name" value="" required><br>
                                            </div>
                                        
                                            <div class="col" style="display: inline-block;">
                                                <label for="formPath">Form Path:</label><br>
                                                <input type="text" id="formPath" name="formPath" placeholder="Form Path" value="" required><br>
                                            </div>
                                     

                                            <div class="col" style="display: inline-block;">
                                                <label for="userCreated">User Created:</label><br>
                                                <input type="text" id="userCreated" name="userCreated" placeholder="User Created" value=" <%= name %> " required><br>
                                            </div>
                                        
                                            <div class="col" style="display: inline-block;">
                                                <label for="userModified">User Modified:</label><br>
                                                <input type="text" id="userModified" name="userModified" placeholder="User Modified" value=" <%= name %> " required><br>
                                            </div>
                                        
                                       
                                             <div class="col" style="display: inline-block;">
                                            <button type="submit" >Save</button>
                                        </div>
                                        <div class="col" style="display: inline-block;">
                                            <button type="button" onclick="document.getElementById('formContainer').innerHTML=''">Clear</button>
                                        </div>
                                        
                                        <div class="col" style="display: inline-block;">
                                            <button type="button" onclick="exportJson()">Export</button>
                                        </div>
                                        </form>
                                        
                                    </div>
                                
                                 </div>
                                <div class="row">
                            <!-- Sidebar -->
                              <table id="componentsList" class="table table-striped table-bordered table-hover table-condensed">
                                <tr>
                                <td style="width: 200px;">
                                <div id="componentsSidebar" >
                                
                                </div>
                            </td>
                            <td >
                                <div id="formContainer" ondrop="drop(event)" ondragover="allowDrop(event)">
                                    <!-- Form elements will be added here -->
                                </div>
                            </td>
                            <td  style="width: 200px;">
                                <div  id="propertiesBar" >.:Properties:. 
                                    <div >
                                        <!-- Edit -->
                                    </div>
                                </div>
                            </td>
                                </tr>
                              </table>
                            </div><!-- End of row -->
                            </div><!-- End of container -->
                             
                        </div>
                    </div>
                    <div id="DatabaseForm" class="tab-pane fade">
                        <!-- Rendered form will be displayed here -->
                        <div class="container-fluid">

                            <div class="row">
                                <h2>Database Structure</h2>
                                <button onclick="newTable()">Add Table</button>
                            </div>
                            <div class="row">
                      
                                <table id="componentsList" class="table">
                                    <tr>
                                    <td style="width: 200px; max-height: 2000px; overflow: auto;">
                                        <!-- Sidebar -->
                                        <div id="tableListBar" class="col table-bordered" >
                                        
                                        </div>
                                    </td>
                                    <td style="width: 100%;">
                                        <div id="mtableDetails" class="col"   >
                                    
                                        </div>

                                    </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="renderForm" class="tab-pane fade">
                        <!-- Rendered form will be displayed here -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    
    <div id="editorFloatMenu" class="gjs-toolbar" style="pointer-events: all; top: 200px; left: 545.438px;">
        <input type="hidden" id="editorElementSelected" value="">
        <div class="gjs-toolbar-items">
            <div class="gjs-toolbar-item">
                <svg viewBox="0 0 24 24">
                    <path fill="currentColor" d="M13,20H11V8L5.5,13.5L4.08,12.08L12,4.16L19.92,12.08L18.5,13.5L13,8V20Z"></path>
                </svg>
            </div>
            <div class="gjs-no-touch-actions gjs-toolbar-item" draggable="true">
                <svg viewBox="0 0 24 24"><path fill="currentColor" d="M13,6V11H18V7.75L22.25,12L18,16.25V13H13V18H16.25L12,22.25L7.75,18H11V13H6V16.25L1.75,12L6,7.75V11H11V6H7.75L12,1.75L16.25,6H13Z"></path></svg>
            </div>
            <div class="gjs-toolbar-item" onclick="showProperties()"><svg viewBox="0 0 24 24" ><path fill="currentColor" d="M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z"></path></svg>
            </div>
            <div class="gjs-toolbar-item" onclick="deleteElement()"><svg viewBox="0 0 24 24"><path fill="currentColor" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"></path></svg>
            </div>
        </div>
    </div>

    <div id="toast-container"></div>
    

    <dialog id="tableDetailsModal">
        <div style="align-content: center;width: 100%;"><h3 style="align-content: center;">Database Strcuture</h3> </div>
        <div>
            <div id="tablesList">
                <!-- Tables will be listed here -->
            </div>
            <div id="tableDetails">
                <!-- Table details will be shown here -->
            </div>
        </div>
        
            <button id="_insertTable" onclick="insertTable()">Insert</button>
            <button id="_insertGrid" onclick="insertGrid()">Grid</button>
            <button id="_insertSearch" onclick="insertSearch()">Search</button>
            <button onclick="closeModalDbStrct()">Close</button>
        
    </dialog>

<dialog id="jsCodeDialog" >
    <div>JSCODE Editor</div>   
    <div style="border: 1px solid black;">
   <textarea id="jsCodeEditor" name="jsCodeEditor" style="width: 100%; height: 100%"></textarea>
    </div>
    <button onclick="executejsCodeCode()">Run Code</button>
    <button onclick="savejsCodeCode()">Save Code</button>
    <button onclick="hidejsCodeEditor()">Close Editor</button>
</dialog>
<!-- Footer -->
<footer class="fixed-bottom mt-auto">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
                       <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" >
            <a class="text-white" href="https://www.mediasoft-group.com//">Mediasoft Group</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->


    <div onclick="closeModalEdit()" class="overlay" id="overlayModal"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/mode/javascript/javascript.min.js"></script>

    <script src="js/db.js"></script>
    <script src="js/loadComponents.js"></script>
    <script src="js/editor.js"></script>
    <script src="js/dom.js"></script>
    <script src="js/formSubmit.js"></script>
    

</body>
</html>
