<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Form Editor</title>
  <link href="img/favicon.ico" rel="icon" type="image/x-icon">
  <!-- Latest compiled and minified CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Option 1: Include in HTML -->


  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/hint/show-hint.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/lint/lint.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/lint/lint.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/lint/lint.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/hint/show-hint.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/hint/xml-hint.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/hint/html-hint.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/xml/xml.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/javascript/javascript.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/css/css.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/htmlmixed/htmlmixed.js"></script>
  <!-- Load icon library -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- font-awesome icons-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <!-- <link href="css/theme-indigo-light.css" rel="stylesheet"> -->
  <link href="css/style.css" rel="stylesheet">
  <!-- importing app scripts (load order is important) -->
  <script src="js/msjv2/authConfig.js"></script>
  <script src="js/msjv2/graphConfig.js"></script>
  <!-- <script type="text/javascript" src="./authRedirect.js"></script>   -->
  <!-- uncomment the above line and comment the line below if you would like to use the redirect flow -->




  <script src="https://alcdn.msauth.net/browser/2.38.0/js/msal-browser.min.js"></script>
  <script src="js/msjv2/authPopup.js"></script>
  <script src="js/msjv2/authRedirect.js"></script>
  <script src="js/msjv2/graph.js"></script>
  <script src="js/msjv2/ui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-yaml@4.1.0/dist/js-yaml.min.js"></script>
</head>

<body ondrop="stopMoveEvent(event)">
  <!-- As a link -->
  <div class="main-header">
    <div class="row">
      <div class="col-md-12" style="display: flex; justify-content: space-between">
        <div class="logo-element">
          <nav class="navbar d-flex title main-header-nav">
            <a href="#"><img alt="Logo" src="media/img/Logo_header.png"></a>
          </nav>
        </div>
        <div class="account-element">
          <span><a href="#" onclick="showUserModal(event)">User</a></span>
          <span><a href="#" onclick="showUserModal(event)"><img alt="User Icon" src="media/img/icon.png"
                style="width: 35px"></a></span>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Content -->
  <div class="container-fluid" style="padding: 0; margin: 0; height: 100vh;">
    <!-- Tab Navigation -->
    <ul class="nav nav-tabs" id="mainTab" role="tablist">
      <li class="active">
        <a data-bs-toggle="tab" href="#pageList">.:Pages List:.</a>
      </li>
      <li>
        <a data-bs-toggle="tab" href="#formsList">.:Forms List:.</a>
      </li>
      <li class="render-tab">
        <a data-bs-toggle="tab" href="#renderForm">.:Render:.</a>
      </li>
      <li><a data-bs-toggle="tab" href="#editForm">.:Editor.</a></li>
      <li><a data-bs-toggle="tab" href="#DatabaseForm">.:Data Sources:.</a></li>
      <li><a data-bs-toggle="tab" href="#WebServer">.:Web Services:.</a></li>
    </ul>
    <!-- Tab Content -->
    <div class="tab-content">
      <div class="tab-pane fade in active" id="pageList" style="min-height: 500px">
        <div id="pageListContainer">
          <table class="table table-striped table-bordered" id="ListPageContainer">
            <thead>
              <tr>
                <th>ID
                  <input id="searchPageInput" onkeyup="searchPagebyID(event)" placeholder="Search by ID"
                    style="width: 100px;  display: inline;" type="text">
                </th>
                <th>Slug
                  <input id="searchPageSlugInput" onkeyup="searchPagebySlug(event)" placeholder="Search by Slug"
                    style="width: 100px;  display: inline;" type="text">
                </th>
                <th>layout</th>
                <th>title</th>
                <th>meta.description</th>
                <th>meta.keywords</th>
                <th>Actions
                  <button onclick="newPage()"
                    style="width: 30px; height: 30px; padding: 0; display: inline; align-items: center;"
                    title="New Page">
                    <i class="bi bi-plus-lg" style="font-size: 20px;"></i>
                  </button>
                </th>
              </tr>
            </thead>
            <tbody id="pageListContainerBody">
              <!-- Components will be listed here -->
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab-pane fade" id="formsList" style="min-height: 500px">
        <div id="formsListContainer">
          <table class="table table-striped table-bordered" id="componentsList">
            <thead>
              <tr>
                <th>ID
                  <input id="searchFormInput" onkeyup="searchFormbyID(event)" placeholder="Search by ID"
                    style="width: 100px;  display: inline;" type="text">
                </th>
                <th>Name
                  <input id="searchNameInput" onkeyup="searchFormbyName(event)" placeholder="Search by Name"
                    style="width: 100px;  display: inline;" type="text">
                </th>

                <th>Slug
                  <input id="searchSlugInput" onkeyup="searchFormbySlug(event)" placeholder="Search by Slug"
                    style="width: 100px;  display: inline;" type="text">
                </th>

                <th>User Created</th>
                <th>User Modified</th>
                <th>Date</th>
                <th>Actions
                  <button onclick="newForm()"
                    style="width: 30px; height: 30px; padding: 0; display: inline; align-items: center;"
                    title="New Form">
                    <i class="bi bi-plus-lg" style="font-size: 20px;"></i>
                  </button>
                </th>
              </tr>
            </thead>
            <tbody id="componentsListBody">
              <!-- Components will be listed here -->
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab-pane fade" id="renderForm">
        <!-- Rendered form will be displayed here -->
        <div class="row" id="renderContainer" style="width: 100%; height: 100%; padding: 10px; ">
        </div>
      </div>
      <div class="tab-pane fade" id="editForm">
        <div class="row display-flex" id="formProperties" style="width: 100%; padding: 10px; ">
          <!-- Form properties will be added here -->
          <form class="container-fluid" id="formDataForm">
            <div class="row table-hover editor-fields" style="display: flex;align-items: top;justify-content: center;">
              <div class="col" style="display: inline-block;">
                <label for="objectId">ID:</label><br>
                <input class="input-element" id="objectId" name="objectId" placeholder="ID" required="" type="text"
                  value=""><br>
              </div>
              <div class="col" style="display: inline-block">
                <label for="objectName">Name:</label><br>
                <input class="input-element" id="objectName" name="objectName" placeholder="Insert Name" required=""
                  type="text" value="" style="width: 150px;"><br>
              </div>
              <div class="col" style="display: inline-block">
                <label for="objectSlug">Slug:</label><br>
                <input class="input-element" id="objectSlug" name="objectSlug" placeholder="Insert Slug" required=""
                  type="text" value="" style="width: 150px;"><br>
              </div>
              <div class="col" style="display: inline-block">
                <label for="userCreated">User Created:</label><br>
                <input class="input-element" id="userCreated" name="userCreated" placeholder="User Created" required=""
                  type="text" value="<%= userName %>"><br>
              </div>
              <div class="col" style="display: inline-block">
                <label for="userModified">User Modified:</label><br>
                <input class="input-element" id="userModified" name="userModified" placeholder="User Modified"
                  required="" type="text" value="<%= userName %>"><br>
              </div>
              <div class="col" style="display: inline-block">
                <label for="objectType">Type:</label><br>
                <select class="input-element" id="objectType" name="type" required="">
                  <option value="" disabled selected>Select Type</option>
                  <option value="page">Page</option>
                  <option value="form">Form</option>
                  <option value="business_component">Business Component </option>
                </select>
                <input id="objectTypeHidden" name="pageHeader" type="hidden" value="">
              </div>
              <div class="col" style="display: inline-block">
                <label for="objectDescription">Description:</label><br>
                <textarea class="input-element" id="objectDescription" name="objectDescription"
                  placeholder="Insert Description" required="" rows="3"></textarea>
              </div>
              <div class="col" style="display: inline-block;padding:10px">
                <button class="button form-edit-button success" id="registerObjectBtn" onclick="registerObject(event)"
                  title="Register Object" type="button" style="float: left;">
                  <i class="bi bi-check-lg"></i>
                </button>


                <button class="button form-edit-button" id="clearObjectBtn" onclick="showClearConfirmation()"
                  title="Clear" type="button" style="float: left;">
                  <i class="bi bi-trash"></i>
                </button>


                <button class="button form-edit-button" id="undoDeleteBtn" onclick="undoDelete()" title="Undo Delete"
                  type="button" style="float: left;">
                  <i class="bi bi-arrow-counterclockwise"></i>
                </button>

                <button class="button form-edit-button" onclick="exportJson()" title="Export JSON" type="button"
                  style="float: left;">
                  <i class="bi bi-filetype-json"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
        <table id="formEditorContainer" style="width: 100%; height: 100%; padding: 10px; ">
          <tr>
            <!-- Sidebar -->
            <td style="width: 100px;max-height: 1024px;padding: 10px; overflow: auto;vertical-align: top;">
              <div id="componentsSidebar" style="width: 100%;"></div>
            </td>
            <td style="width: 100%;vertical-align: top; text-align: left">
              <div id="formContainer" ondragover="allowDrop(event)" ondrop="drop(event)"
                style="width: 100%; height: 100%; vertical-align: top; ">
                <!-- Form elements will be added here -->
              </div>
            </td>
            <td style="vertical-align: top;text-align: left; border: 1px dashed silver;">
              <div id="editorPropertyInfos"
                style="width: 250px;max-height: 1024px;padding: 10px; overflow: auto; vertical-align: top;">
                <div id="propertiesBar">
                  <div>
                    <!-- Edit -->
                  </div>
                </div>
              </div>
            </td>
            <td style="vertical-align: top;text-align: left;border: 1px dashed silver;">
              <div id="editorDataInfos"
                style="width: 250px;max-height: 1024px;padding: 10px; overflow: auto;vertical-align: top;">
                <div id="dataBar" style="vertical-align: top;">

                  <div>
                    <button onclick="showDiv('webserviceDiv',this)" title="Web Server">
                      <i class="fa fa-server"></i>
                    </button>
                    <button onclick="showDiv('databaseDiv',this)" title="Database">
                      <i class="fa fa-database"></i>
                    </button>
                  </div>
                  <div class="tab-div" id="webserviceDiv" style="display: none;">
                    <div>
                      <input name="searchApi" onchange="searchApi(this.value,'dragDropApiList')"
                        placeholder="filter.. API" type="text">
                    </div>
                    <div id="dragDropApiList" style="overflow: auto"></div>
                    <!-- Web Server will be listed here -->
                  </div>

                  <div class="tab-div" id="databaseDiv">
                    <div>
                      <input name="searchtable" onchange="searchtable(this.value,'drageDroptablesList')"
                        placeholder="filter.. table" type="text">
                    </div>
                    <div id="drageDroptablesList" style="overflow: auto"></div>
                    <!-- Tables will be listed here -->
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>

        <div class="tab-pane fade" id="DatabaseForm">
          <!-- Rendered form will be displayed here -->
          <div class="container-fluid">
            <div class="row">
              <div class="title-element">
                <h2>Database Structure</h2>
              </div>
              <button class="button database-header-button" onclick="newTable()">
                Add Table
              </button>
            </div>
            <div class="row">
              <table class="table" id="componentsList_database">
                <tr>
                  <td style="width: 200px; max-height: 2000px; overflow: auto">
                    <!-- Sidebar -->
                    <div class="col table-bordered" id="tableListBar" style="width: 115px;">
                      <!-- Tables will be listed here -->
                      <div>
                        <input name="searchtable" onchange="searchtable(this.value,'ContentTableListBar')"
                          placeholder="filter.. table" type="text">
                      </div>
                      <div id="ContentTableListBar" style="overflow: auto"></div>
                    </div>
                  </td>
                  <td style="width: 100%">
                    <div class="col" id="mtableDetails"></div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="WebServer">
          <!-- Rendered form will be displayed here -->
          <div class="container-fluid">
            <div class="row">
              <div class="title-element">
                <h2>Web Server</h2>
              </div>
              <div>
                <div style="display: inline-block; margin: 10px">
                  <input class="input-element" id="apiUrlLink" name="apiUrlLink" placeholder="API URL" required=""
                    type="link" value=""><br>
                  <input accept=".yaml,.yml,.json" id="fileInput" name="fileInput" style="display: inline-block"
                    type="file">
                </div>
              </div>
              <button class="button database-header-button" onclick="loadWebServer()">Load Web Server</button>
              <div id="web-api-container"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- Main -->
  <div class="gjs-toolbar" id="editorFloatMenu" style="pointer-events: all; top: 200px; left: 545.438px">
    <input id="editorElementSelected" type="hidden" value="">
    <div class="gjs-toolbar-items">
      <div class="gjs-toolbar-item" onclick="setParent()" title="select parent">
        <i class="bi bi-arrow-up"></i>
      </div>
      <div class="gjs-no-touch-actions gjs-toolbar-item" draggable="true" onclick="moveElement()"
        ondrag="moveElementEvent=true" title="Move Element">
        <i class="bi bi-arrows-move"></i>
      </div>
      <div class="gjs-toolbar-item" onclick="showProperties()" title="Show Properties">
        <i class="bi bi-gear"></i>
      </div>
      <div class="gjs-toolbar-item" onclick="showHTMLCodeEditor()" title="Show HTML Editor">
        <i class="bi bi-code-slash"></i>
      </div>
      <div class="gjs-toolbar-item" onclick="copyHTMLElement()" title="Copy Component">
        <i class="bi bi-clipboard"></i>
      </div>
      <div class="gjs-toolbar-item" onclick="pasteHTMLElement()" title="Paste Component">
        <i class="bi bi-clipboard-plus"></i>
      </div>
      <div class="gjs-toolbar-item" onclick="deleteElement()" title="Delete Element">
        <i class="bi bi-trash"></i>
      </div>
      <div class="gjs-toolbar-item" onclick="EditorUndo()" title="Undo">
        <i class="bi bi-arrow-counterclockwise"></i>
      </div>
      <div class="gjs-toolbar-item" onclick="EditorRedo()" title="Redo">
        <i class="bi bi-arrow-clockwise"></i>
      </div>
    </div>
  </div>
  <div class="modal" id="DatabaseDetailsModal">
    <div class="modal-content" style="padding: 10px">
      <h6>Tables:</h6>
      <button class="close" onclick="closeDBModalEdit(this)">X</button>
      <button class="close" onclick="applyDBModal(this)">Apply</button>
      <div id="TablesListContent" style="display: flex;">
        <div class="tab-div" style="width: 10%;">
          <div>
            <input name="searchtable" onchange="searchtable(this.value,'modalTableListPanel')"
              placeholder="filter.. table" type="text">
          </div>
          <div id="modalTableListPanel" style="overflow: auto"></div>
          <!-- Tables will be listed here -->
        </div>
        <div id="modaltableDetails" style="width: 90%;"></div>
      </div>
    </div>
  </div>
  <div id="toast-container"></div>
  <div id="hint-container"></div>
  <dialog id="jsCodeDialog">
    <div>JSCODE Editor</div>
    <div style="border: 1px solid black">
      <textarea id="jsCodeEditor" name="jsCodeEditor" style="width: 100%; height: 100%"></textarea>
    </div>
    <button class="button" onclick="executejsCodeCode()">Run Code</button>
    <button class="button" onclick="savejsCodeCode()">Save Code</button>
    <button class="button" onclick="hidejsCodeEditor()">Close Editor</button>
  </dialog>
  <dialog id="HTMLCodeDialog" style="width: 90%; height: 90%; ">
    <div><button class="button" onclick="saveHTMLCode()" style="display: inline-block;"><i class="fa fa-floppy-o">
        </i></button>
      <button class="button" onclick="document.getElementById('HTMLCodeDialog').style.display='none';"
        style="display: inline-block;">
        <i class="fa fa-close"></i></button>
    </div>
    <div style="border: 1px solid black">
      <textarea id="HTMLCodeEditorArea" name="HTMLCodeEditorArea" style="width: 100%; height: 100%"></textarea>
    </div>
  </dialog>
  <div id="userModal">
    <div class="row">
      <div class="col-md-12">
        <div class="user-main">
          <button onclick="signOut()">Logout</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="mt-auto">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <div class="mb-4">
        <!-- Github -->
        <a class="btn btn-outline-light m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
      </div>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3">
      <a class="text-white" href="https://www.mediasoft-group.com//">Mediasoft Group</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  <div class="overlay" id="overlayModal" onclick="closeModalEdit()"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-treemap"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/mode/javascript/javascript.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/meta.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/hint/javascript-hint.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/hint/show-hint.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/lint/javascript-lint.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/htmlmixed/htmlmixed.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/edit/closebrackets.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/js-beautify@1.14.7/js-beautify.min.js"></script> -->
  <script src="/js/components/qrcode.js"></script>
  <script src="https://unpkg.com/html5-qrcode"></script>
  <script src="js/db.js"></script>
  <script src="js/loadComponents.js"></script>
  <script src="js/Components/userComponent.js"></script>
  <script src="js/editor.js"></script>
  <script src="js/listPages.js"></script>
  <script src="js/dom.js"></script>
  <script src="js/listForms.js"></script>
  <script src="js/formSubmit.js"></script>
  <script src="js/businessComponentSubmit.js"></script>
  <script src="js/webserver.js"></script>
  <script src="js/constant/index.js"></script>
  <script src="js/listBusinessComponent.js"></script>
  <script src="js/ui/clearConfirmation.js"></script>
  <div class="modal-overlay" id="confirmClearModal" style="display: none;">
    <div class="modal-box">
      <p>Are you sure you want to clear the form?</p>
      <div class="modal-actions">
        <button id="confirmClearYes">Yes</button>
        <button id="confirmClearCancel">Cancel</button>
      </div>
    </div>
  </div>
</body>

</html>