.dataSetContainer {
  float: left;
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 100%;
  align-items: left;
  flex-wrap: wrap;
  padding: 10px;
}

.navigation-bar-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 10px;
  border: none;

  vertical-align: top;
  flex-wrap: wrap;
  justify-content: flex-start;
}