@import "../variables.css";
.DataPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-35);
    border-radius: 4px;
    box-shadow: 0 2px 4px var(--color-120);
    overflow: hidden;
    border: 1px solid var(--color-46);
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

.DataPanel.DataPanel:h3 {
    margin: 0;
    padding: 16px;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-4);
}

.DataPanel:h1 {
    margin: 0;
    padding: 16px;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-4);
}