.grid-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 400px;
  align-items: left;
  padding: 10px;
  -webkit-box-shadow: 5px 0px 12px 2px #000000;
  box-shadow: 5px 0px 12px 2px #000000;
  flex-wrap: wrap;
  flex-flow: column wrap;
}

.table-container {
  float: left;
  padding: 10px;
  width: 100%;
  height: 100%;
  align-items: left;
  overflow: auto;
  justify-content: start;
  vertical-align: top;
  display: table;
}

.dataset-container {
  float: right;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100%;
  align-items: flex-start;
  padding: 10px;
  overflow: auto;
  justify-content: flex-start;
  border: none;
  border-left: 1px solid silver;
  inset: 2px 0px 0px 0px;
  vertical-align: top;
}

.grid-table {
  display: flex;
  overflow-y: auto;
  vertical-align: top;
}

.right-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0;
  margin-bottom: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.grid-row {
  height: 35px;
  border-bottom: 1px solid #ccc;
  display: table-row;
  vertical-align: middle;
  align-items: left;
  padding: 5px;
}

.grid-row:hover {
  color: #6d7fcc;
}

.grid-cell {
  padding: 5px;
  display: table-cell;
  overflow: hidden;
}

.grid-body {
  vertical-align: top;
  display: table-row-group;
  align-items: top;
  width: 100%;
}

.grid-cell-header {
  padding: 5px;

  background-color: #6d7fcc;
  color: white;
  display: table-cell;
}

.grid-header {
  display: table-header-group;
  background-color: #6d7fcc;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
  width: 100%;
}

.grid-row-selected {
  background-color: #fff3cd !important;
  /* Light pastel yellow */
  color: #212529 !important;
  /* Dark text for good readability */
  border: 2px solid #ffc107 !important;
  /* Amber border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Soft shadow around the selected row */
  transform: scale(1.02);
  /* Slight zoom effect */
  transition: all 0.3s ease;
  /* Smooth animation for all properties */
}

.grid-row-selected:hover {
  background-color: #ffe8a1 !important;
  /* Even lighter on hover */
}



.grid-row-selected:hover {
  background-color: #859bfc;

}

.panel {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.panel:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.selected-panel {
  background-color: #d3f2d3 !important;
  /* Light green for selected panel */
  border-color: #28a745;
  /* Green border for selected panel */
}

.grid-th-btn {
  border: none;
  background: transparent;
  padding: 0 2px;
  cursor: pointer;
  line-height: 1;
  opacity: .6;
  height: 5px;
  width: 5px;
  ;
}

.grid-th-btn:hover {
  opacity: 1;
}

.grid-th-btn.active {
  opacity: 1;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, .25));
}