@import "../variables.css";
/**********************************************************************************/

.fileExplorerTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid var(--color-28);
    font-size: 17px;
    height: 400px;
    overflow-y: none;
}




.fileExplorerTbody {
    height: 400px;
    overflow-y: auto;

}

.fileExplorerTbody::-webkit-scrollbar {
    width: 10px;
}

.fileExplorerTbody::-webkit-scrollbar-track {
    background: var(--color-39);
}

.fileExplorerTbody::-webkit-scrollbar-thumb {
    background: var(--color-50);
}

.fileExplorerTbody tr {
    cursor: pointer;
}

.fileExplorerTbody tr:hover {
    background-color: var(--color-29);
}

.fileExplorerTbody td {
    padding: 10px;
    width: auto;
}

.fileExplorerTbody td:first-child {
    width: 30px;
}

.fileExplorerTbody td:last-child {
    width: 25%;
}

.fileExplorerTbody td:nth-child(2) {
    width: auto;
}

.fileExplorerThead {
    background-color: var(--color-65);
    color: var(--color-4);

}

.fileExplorerThead th {
    padding: 10px;
    text-align: center;
    border: 1px solid var(--color-28);
}

.fileExplorerThead th:first-child {
    width: 30px;
}

.fileExplorerThead th:last-child {
    width: 25%;
}

.fileExplorerThead th:nth-child(2) {
    width: auto;
}