<div class="tab-pane fade in active" id="pageList" style="min-height: 500px">
    <div id="pageListContainer">
        <table class="table table-striped table-bordered" id="ListPageContainer">
            <thead>
                <tr>
                    <th>ID
                        <input id="searchPageInput" onkeyup="searchPagebyID(event)" placeholder="Search by ID"
                            style="width: 100px;  display: inline;" type="text">
                    </th>
                    <th>Slug
                        <input id="searchPageSlugInput" onkeyup="searchPagebySlug(event)" placeholder="Search by Slug"
                            style="width: 100px;  display: inline;" type="text">
                    </th>
                    <th>layout</th>
                    <th>title</th>
                    <th>meta.description</th>
                    <th>meta.keywords</th>
                    <th>Actions
                        <button onclick="newPage()"
                            style="width: 30px; height: 30px; padding: 0; display: inline; align-items: center;"
                            title="New Page">
                            <i class="bi bi-plus-lg" style="font-size: 20px;"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody id="pageListContainerBody">
                <!-- Components will be listed here -->
            </tbody>
        </table>
    </div>
</div>